<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <title>NodeJS</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}} </p>
    </div>
   
    {{>footer}}

  </body>
</html>