<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
        <link rel="icon" href="/img/cloud.png">

    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Mihir Rathore
      </p>
    <img class="portrait" src="./img/download.jpeg" />
    <p>Picture of {{name}}</p>
    </div>
    
    {{>footer}}

  </body>
</html>