<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
      <link rel="icon" href="/img/cloud.png">

    <title>Help</title>
  </head>
  <body> 
    <div class="main-content">
       {{>header}}
    {{name}}
    </div>
   
        {{>footer}}

  </body>
</html>