<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="/img/cloud.png">
    <title>Home</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get your Weather!</p>

  <form >
    <input type="text" placeholder="Search for your Location">
    <button type="button" class="btn btn-primary">Search</button>
  </form>

    <p id="message-1"></p>
    <p id="message-2"></p>


    </div>
    {{>footer}}
      <script src="/js/app.js"></script>

  </body>
</html>